node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.DS_Store
session/*
!session/.gitkeep
downloaded-media/*
!downloaded-media/.gitkeep
downloads/*
!downloads/.gitkeep
.wwebjs_cache
.github
EASYPANEL-DEPLOY.md